.listed {
    background-color: #3a57af;
    min-height: 700px;
    min-width: 100%;
    margin: auto; 

}



#to-do-form input {
    background-color: grey;
    border: 0;
    width: 200px;
    height: 50px;
    padding: 0 20px;
    margin: 20px;
    font-size: 12px;
    border-radius: 10px;
    color: white;
   margin-left: 25%;
   
}

#to-do-form input::placeholder{
    color: white;

}

#to-do-form input:focus, #to-do-form button:focus{
    outline: none;

}
#to-do-form button {
    height: 50px;
    width: 80px;
    border-radius: 50px;
    border: 0;
    background-color: rgb(67, 153, 67);
    cursor: pointer;
    font-weight: bolder;
    color: white;
    font-size: 14px;
}

.listing{
    color: white;
    width: 300px;
    background-color: rgb(67, 153, 67);
    height: 50PX;
    margin: 14px auto;
    border-radius: 5px;
}

.listing p{
    padding: 10px;
    position: relative;
    font-size: 14px;
}

.listing p span{
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.faicons{
    margin: 0 5px;
    font-size: 15px;
}


.survivor input {
    background-color: grey;
    border: 0;
    width: 200px;
    height: 50px;
    padding: 0 20px;
    margin: 20px;
    font-size: 12px;
    border-radius: 10px;
    color: white;
}

.survivor input::placeholder{
    color: white;

}

.survivor button {
    height: 50px;
    width: 80px;
    border-radius: 50px;
    border: 0;
    background-color: rgb(67, 153, 67);
    cursor: pointer;
    font-weight: bolder;
    color: white;
    font-size: 14px;
}

.survivor input::placeholder{
    color: white;

}

.survivor input:focus, .listed button:focus{
    outline: none;

}

.survivor {
    background-color: #3a57af;
    min-height: 100%;
    min-width: 100%;
    margin: auto;

}

#jumbo{
    background-color: #3a57af;
}