@media screen and (min-width: 767px) and (max-width: 1200px) { 
  .table-btn, .table-btn-outline {
      padding-left: 25px;
      padding-right: 25px;
  }
}

@media screen and (max-width: 415px){
  .dd {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) { 
  .table-container {
    margin-top: 20px;
  }
  #range-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 8px;
  }
  
  #range-title{
    margin-bottom: 0px;
    margin-right: 0px;
  }
  #range-dropdown{
    margin-left: 0px;
  }
}

@media screen and (max-width: 995px){
  .link-container{
    display: flex;
    justify-content: center;
  }
  #ss-header-text{
    text-align: center;
    margin-bottom: 18px;
  }
  .header-btns-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}